@{
    ViewData["Title"] = "About";
}

<section>
        <div id="about">
            <h1>About Kings Men</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic inventore labore sint nihil suscipit in atque autem reprehenderit dolorum saepe accusantium ea eaque omnis, quas odit, laboriosam ab quaerat aperiam esse, aut deserunt? Dolorem, suscipit nulla voluptate vitae nesciunt saepe est officia dolores. Deleniti dignissimos laborum voluptates ipsum quasi provident?<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo nulla ut eveniet odit, eligendi vitae consequatur commodi? At suscipit atque nam accusantium inventore aliquam, veritatis assumenda nesciunt, saepe ex accusamus exercitationem in. Sequi nisi necessitatibus recusandae vitae nihil excepturi quaerat saepe nesciunt, dolore quae temporibus harum fuga magnam tenetur, dicta omnis architecto, consectetur maiores! Minima cupiditate necessitatibus enim asperiores voluptatem. <br> <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis deleniti voluptatum minus, exercitationem ea delectus consectetur commodi tenetur voluptatem eius maiores in repudiandae temporibus voluptates incidunt iusto numquam sunt enim veniam cupiditate, vero quam tempora. Quod debitis ipsum, assumenda error voluptatibus expedita nesciunt sequi maxime, iste, eaque minima in perspiciatis ut! Voluptates accusamus vel perferendis illum, deserunt nulla quam rem!
            <br><br><br>
            Abdullah <br>
            Team King's Man
            </p>
            <section>
        <form action="formsend" method="get">
            <input type="text" name="firstname" placeholder="Name" id="fname"><br>
            <input type="text" name="lastname" placeholder="Last name" id="lname"><br>
            <input type="email" name="email" placeholder="Email" id="email"><br>
            <input type="number" name="phoneno" placeholder="Phone no" id=""><br>
            <label for="gender">Gender: </label>Male<input type="radio" name="gender" value="male" id="">
            Female<input type="radio" name="gender" value="female" id=""><br>
            <select name="dropdown" id="">
                <option value="Sales">Sales</option>
                <option value="IT">IT</option>
            </select><br>
            <textarea name="message" id="" cols="30" rows="10"></textarea><br>
            <button type="submit">Submit</button>
        </form>
        <p style="color:red">@ViewBag.message</p>
         </section>
            <div id="go-home"><a href="index.html">Home</a></div>
        </div>
</section>