@{
    ViewData["Title"] = "Home Page";
}
<section id="main">
        <div id="frstimg">
            <a href="#"><img id="img1" src="images/img1.jpg" alt="NOT FOUND"><div id="frsttext"><p id="frsttext">Keep Your Style</p></div></a>
        </div>
    </section>
    <section id="main2">
        <div id="scnd">
            <a href="#"><img src="images/img2.jpg" alt=""></a>
        </div>
    </section>
    <section id="main3">
        <div id="pics2">
            <div class="twopics" id="pic1">
                <a href="#"><img src="images/img3.jpg" alt=""></a>
                <a href="#"><h1 class="heading">Winter Wear</h1></a>
            </div>
            <div class="twopics" id="pic2">
                <a href="#"><img src="images/img4.jpg" alt=""></a>
                <a href="#"><h1 id="heading2" class="heading">Sports Wear</h1></a>
            </div>
        </div>
    </section>
    <section id="fivepics">
        <div id="fcontainer">
            <div class="fpics">
                <img class="fimages" src="images/s1.jpg" alt="">
                <h2 class="label">Tops</h2>
            </div>
            <div class="fpics">
                <img class="fimages" src="images/s2.jpg" alt="">
                <h2 class="label">Dresses</h2>
            </div>
            <div class="fpics">
                <img class="fimages" src="images/s3.jpg" alt="">
                <h2 class="label">Coats</h2>
            </div>
            <div class="fpics">
                <img class="fimages" src="images/s4.jpg" alt="">
                <h2 class="label">Soft Coats</h2>
            </div>
            <div class="fpics">
                <img class="fimages" src="images/s5.jpg" alt="">
                <h2 class="label">Jackets</h2>
            </div>
        </div>
        <div id="fslide" class="slideshow-container">
            <div class="mySlides1">
              <img src="images/s1.jpg" style="width:100%">
            </div>
          
            <div class="mySlides2">
              <img src="images/s2.jpg" style="width:100%">
            </div>
          
            <div class="mySlides3">
              <img src="images/s3.jpg" style="width:100%">
            </div>

            <div class="mySlides4">
                <img src="images/s4.jpg" style="width:100%">
            </div>

            <div class="mySlides5">
                <img src="images/s5.jpg" style="width:100%">
            </div>
        </div>
    </section>
    <section id="main4">
        <div id="bigpics">
            <div class="big">
                <img class="bigimage" src="images/boy1.jpg" alt="">
            </div>
            <div class="big">
                <img class="bigimage" src="images/kids.png" alt="">
            </div>
        </div>
    </section>
